*{
    background-color: bisque;
    text-align: right;
}
.li a{
    text-align: right;

}
.table{
    width: 5.5cm;
    height: 7cm;
    padding: 40px;
}
.th{
    text-align: left;

}
.table,th,td{
    border: 10px solid  rgb(236, 223, 223);
    border-collapse: collapse;
}
.th,td{
    padding: 10px;

}
tr:nth-child(even){
    background-color: #fff;
}
tr:nth-child(odd){
    background-color: #ddd;
}
.a button{
    text-align: center;
    text-decoration-color: aqua;
}